{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
<img src='../static/images/icons/contacts_photo.png' width="200" height="200" alt="" />
</div>

<div class = "phone"><h3 class="mt-5 text-center"><img src="../static/images/icons/mail.svg" width="45" height="45" alt="" /><strong>Телефон:</strong> +7 495 777 77 77</h3></div>

<div class = "mail"><h3 class="mt-2 text-center"><img src="../static/images/icons/phone.png" width="45" height="45" alt="" /><strong>E-mail:</strong> shelter@gmail.com</h3></div>
{% endblock %}
