{% extends 'base.html' %}
{% block content %}
    <div class = "main">
        <h2 class="mt-3 text-center">О нас</h2>
        <p class="mt-3 text-center">Этот сайт создан волонтерами с единственной целью – спасти жизни домашних животных и найти им новый дом. Все наши подопечные мечтают об одном – найти своих любящих хозяев. Мы – их единственный шанс выжить и обрести новую жизнь. Любому по силам спасти животное и подарить ему новую жизнь, тепло, ласку, внимание! Поверьте, животные не останутся в долгу. Они подарят вам свою душу, сердце и станут самыми преданными вашими друзьями!</p>
        <div class="d-flex justify-content-center">
            <img src="/static/images/main.png" alt="Главное фото" height="500" width="800">
        </div>
    </div>
{% endblock %}
