{% extends 'base.html' %}
{% block content %}
    <div class="d-flex mt-5 flex-wrap">
        {% for pet in pets %}
            <div class="m-3 card" style="width: 17rem;">

                <img src='/{{ pet.image }}' class="pet-card-img card-img-top" alt="Фото питомца">

                <div class="card-body">
                    <h5 class="card-title">{{ pet.name }}</h5>
                    <p class="card-text">{{ pet.description }}</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="/pet_info/{{ pet.pk }}" class="btn btn-outline-primary">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
